<div>
  <h2>Search Authors</h2>
  <div>
    <label for="id">Author ID:</label>
    <input type="text" #authorQuery id="id">
    <button (click)="submit(authorQuery.value)">Search</button>
  </div>
  
  <div *ngIf="selectedAuthor">
    <h3>Author Details</h3>
    <p><strong>ID:</strong> {{ selectedAuthor.id }}</p>
    <p><strong>Name:</strong> {{ selectedAuthor.firstName }} {{ selectedAuthor.lastName }}</p>

  </div>
  
  <p *ngIf="!selectedAuthor && message">{{ message }}</p>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
